<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Hobbie</title>
</head>
    <div th:fragment="logo" class="logo-container">
        <a href="/">  <img class="imgHeader" src="/img/logo.svg" alt="logo"></a>
        <a href="/">  <h4 class="logo">obbie</h4></a>
    </div>
    <nav th:fragment="navbar">
        <ul class="nav-links">
            <li><a class="nav-link" href="/users/register-business">Register your business</a></li>
            <li><a class="nav-link" href="/users/login">Login</a></li>
            <li><a  class="nav-link"href="">Contact</a></li>
        </ul>
    </nav>

<body>



</body>
</html>